body {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    color: #4b4b4b;

}

header {
    background-color: #e00618;
    max-height: 6rem;
    margin: .15rem;
}

header h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0px;
    margin-top: .5rem;

}

header img {
    grid-column: 4 / 5;
    margin-top: 10px;
}

main h2 {
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

footer {
    background-color: #9da;
    color: white;
    text-align: center;
    font-size: .75rem;
    height: 4rem;
}

.footerlong {
    margin-bottom: 0px;
    padding-top: .75rem;
}

.makeyellow {
    color: #cba811;
    margin-top: 0px;
    padding-top: .5rem;
}