body {}

header {
    background-color: #643219;
    border-radius: 25px;

}

header h1 {
    font-family: Arial, Helvetica, sans-serif;

}

header img {}

main {}

footer {
    background-color: #643219;
    border-radius: 25px;
}

.makeyellow {
    color: #cba811;
}