body {}

header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: #FFBD59;
    padding: .25em;
    
}

#logo {
    width: 5em;
    grid-row: 1 / 3;
}

h1 {
    grid-column: 2 / 4;
    margin-bottom: 0;
    margin-top: .5em;
}

header div {
    grid-column: 2/ 4;
}

nav {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding-top: .5em;
    padding-right: .5em;

}

.ham {
    font-size: 2em;
}
#navigation li:first-child {
    display: block;
}

main {
    margin: .5em 1em;
}

.pancakegrid {
    background-color: #04389e;
    display: none;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    align-items: center;
    color: white;
}

img {
    max-width: 100%;
}



@media only screen and (min-width: 32.5em) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
    #navigation {
        display: flex;
    }
    #navigation li:first-child {
        display: none;
    }
    #navigation li {
        display: block;
        flex: 1 1 100%;
    }


}