body {
    max-width: 960px;
    margin: 0 auto;
}
.pancakegrid {
    background-color: #04389e;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    align-items: center;
    color: white;
}
img {
    max-width: 100%;
}